.transition-item.slide-down {
  transform: translateY(-100%);
}

.slide-down.transition-appear.transition-appear-active {
  transform: translateY(0);
}

.slide-down.transition-leave {
  transform: translateY(0);
}

.slide-down.transition-leave.transition-leave-active {
  transform: translateY(100%);
}
